@import '../../../../assets/styles/colors';
@import '../../../../assets/styles/fonts';

.chat-message-container {
  width: 100%;
  padding: 20px;
}

.chat-message {
  width: 50%;
  border: 1px solid $gray;
  border-radius: 5px;
  padding: 10px 20px;
  outline: none;
  font-size: 16px;

  &::placeholder {
    color: $light-gray;
    font-weight: lighter;
  }

  &.ng-invalid.ng-dirty  {
    border: 1px solid $red;
  }
}

.error-message {
  color: $red;

  &.hidden {
    display: none;
  }
}

.send-button {
  margin-left: 20px;
  height: 40px;
  padding: 0 20px;
  background: $purple;
  color: $white;
  border: none;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
    background-color: $medium-purple;
  }
}
